@model Restaurant.web.Models.FoodCategory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FoodCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4"  style="background-color:#CCD7C5" >
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="background-color:#FFE6E8">
                <label asp-for="FoodcategoryName" class="control-label">Food category Names</label>
                <input asp-for="FoodcategoryName" class="form-control" />
                <span asp-validation-for="FoodcategoryName" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <input type="submit" style="background-color:#9C3848" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
