@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Fitness</b></h1>
  <p>Welcome to the Fitness Page </p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://content.jdmagicbox.com/comp/thane/z2/022pxx22.xx22.140201130207.n7z2/catalogue/apollo-gym-the-art-of-fitness-kharegaon-kalwa-thane-fitness-centres-19a5xsa.jpg?clr=4d401a" alt="Nature" style="width:300px;height:250px">
    <div class="w3-container">
      <h3><b>APOLLO GYM</b></h3>
      <h5>BEST UNISEX GYM <span class="w3-opacity">Since April 7, 2014</span></h5>
    </div>

    <div class="w3-container">
      <p>Being physically and mentally fit is necessary for an individual to live a happy, long life. Exercise is one of the best ways to keep a person healthy. Hence, it is always best to find a workout routine no matter how busy you are. With the numerous diseases that spread in the world today, many individuals realized the essence of workout. Specifically, having a workout routine will give an individual the greatest physical, mental, and social benefits. Accordingly, exercise will help you increase energy levels, reduce chronic disease risk, lose weight, and help improve brain health and memory</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="https://images.news18.com/ibnlive/uploads/2021/11/muscles-16366092673x2.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>GYM SERVICES</b></h3>
      <h5>Our outdoor gym ‘The Fitness Yard’
Group training sessions
All hours of use (not restricted)
Free parking
Free Wi-Fi
Our workout tracking app <span class="w3-opacity">April 2, 2014</span></h5>
    </div>

    <div class="w3-container">
      
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6q8AXotI87rQ22-_GHOEDMpkIymIPQEwjXg&usqp=CAU" style="width:200px ; height:200px">
    <div class="w3-container w3-white">
      <h4><b>Owner Name</b></h4>
      <p><b>Kamlakar.Keshav.Patil.</b><br/>
 President of Thane District Body Building Association.
 Vice President Of Maharashtra Body Building Association.
 Vice President Of All India Body Building Federation..</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Facilities</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://ak.picdn.net/shutterstock/videos/1065627883/thumb/1.jpg?ip=x480" alt="Image" class="w3-left w3-margin-right" style="width:50px;height:40px">
        <span class="w3-large">Changing Room</span><br>
        
      </li>
      <li class="w3-padding-16">
        <img src="https://d1heoihvzm7u4h.cloudfront.net/840d92b1d30392db3d4b1ebd8c1bc2411144d8fe_October_banner_24_940x300.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px ; height:40px">
        <span class="w3-large">Cardiovascular area</span><br>
        
      </li> 
      <li class="w3-padding-16">
        <img src="http://kromadvertising.com/lacigale/images/gallery/gym-spa/2.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px ; height:40px">
        <span class="w3-large">Massage Room </span><br
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://cdn.lifehack.org/wp-content/uploads/2016/08/06232725/Gym-floor-Free-weights-area.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px ; height:40px">
        <span class="w3-large">Free Weight Area</span><br>
        
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
